<h2>Add Project</h2>
<hr />
<div class="col-md-4">
  <form
    [formGroup]="projectForm"
    (ngSubmit)="saveProject(projectForm.value)"
    novalidate
  >
    <div class="form-group">
      <label for="title"> Title:</label>

      <input
        formControlName="title"
        name="title"
        type="text"
        id="title"
        class="form-control"
        placeholder="Project Title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <em
        *ngIf="
          description?.invalid &&
          description?.dirty &&
          description.errors.restrictedWords
        "
        >Restricted Words Found: {{ description.errors.restrictedWords }}</em
      >
      <input
        formControlName="description"
        name="description"
        type="text"
        id="description"
        class="form-control"
        placeholder="Description here"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <button type="button" (cancel)="cancel()" class="btn btn-default">
      Cancel
    </button>
  </form>
</div>
