<div class="card-deck" id="hero-card-deck">
  <div class="card">
    <img
      src="../../assets/images/aasraImg1.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">PROJECTS</h5>
      <p class="card-text">
        We have taken <strong>Initiatives</strong> and working on a number of
        projects. Get in touch to be a part of them.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="../../assets/images/aasraImg2.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">JOIN US</h5>
      <p class="card-text">
        We are <strong>Working!</strong> Join us hand in hand and make an
        impact. Get in touch to become a volunteer.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="../../assets/images/aasraImg3.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">EVENTS</h5>
      <p class="card-text">
        We are raising <strong>Awareness</strong> through various events. Take a
        look at our organized events.
      </p>
    </div>
  </div>
</div>
