<div class="container" id="v-nav">
  <nav class="navbar sticky-top navbar-expand-lg">
    <div class="">
      <div class="navbar-brand" to="#">
        <img
          src="./assets/images/aasraicon.png"
          width="80"
          height="80"
          alt=""
        />
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-link-item">
          <div class="nav-link">
            <a [routerLink]="['home']">
              <span class="navItemText">HOME</span>
            </a>
          </div>
        </div>
        <div class="nav-link-item">
          <div class="nav-link">
            <a [routerLink]="['events']">
              <span class="navItemText">EVENTS</span>
            </a>
          </div>
        </div>
        <div class="nav-link-item">
          <div class="nav-link">
            <a [routerLink]="['']">
              <span class="navItemText">VOLUNTEERS</span>
            </a>
          </div>
        </div>
        <div class="nav-link-item">
          <div class="nav-link">
            <a [routerLink]="['projects']">
              <span class="navItemText">PROJECTS</span>
            </a>
          </div>
        </div>
        <div class="nav-link-item">
          <div class="nav-link">
            <a [routerLink]="['contactus']">
              <span class="navItemText">CONTACT US</span>
            </a>
          </div>
        </div>
        <div class="nav-link-item">
          <div class="nav-link">
            <a
              *ngIf="!authService.isAuthenticated()"
              [routerLink]="['user/login']"
            >
              <span class="navItemText">Login</span>
            </a>
            <a
              *ngIf="authService.isAuthenticated()"
              [routerLink]="['user/profile']"
            >
              <span class="navItemText"
                >Welcome {{this.authService.currentUser.name}}</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
