<bs-carousal></bs-carousal>
<div class="container-fluid">
  <div class="section-title">
    <div class="text">PROJECTS & CAMPAIGNS</div>
  </div>

  <div class="card-deck homeSections">
    <div class="card card-img">
      <a href=""
        ><img
          src="../../assets/images/aasraImg1.jpg"
          class="card-img-top"
          alt="..."
      /></a>
      <div class="card-body">
        <a href="" class="card-title card-title-text">PROJECTS</a>
        <p class="card-text">
          We have taken <strong>Initiatives</strong> and working on a number of
          projects. Get in touch to be a part of them.
        </p>
      </div>
    </div>
    <div class="card card-img">
      <a href="">
        <img
          src="../../assets/images/aasraImg2.png"
          class="card-img-top"
          alt="..."
      /></a>

      <div class="card-body">
        <a href="" class="card-title card-title-text">JOIN US</a>
        <p class="card-text">
          We are <strong>Working!</strong> Join us hand in hand and make an
          impact. Get in touch to become a volunteer.
        </p>
      </div>
    </div>
    <div class="card card-img">
      <a href="">
        <img
          src="../../assets/images/aasraImg3.jpg"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <a href="" class="card-title card-title-text">EVENTS</a>
        <p class="card-text">
          We are raising <strong>Awareness</strong> through various events. Take
          a look at our organized events.
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="text">NEWS & BLOGS</div>
  </div>

  <div class="card-deck homeSections">
    <div class="card card-img">
      <a href=""
        ><img
          src="../../assets/images/unsplash_2.jpg"
          class="card-img-top"
          alt="..."
      /></a>
      <div class="card-body">
        <a href="" class="card-title card-title-text">TITLE FOR PROJECT TWO</a>
        <p class="card-text">
          We started a non formal education center for children in hatwara basti
          for those children who are dropouts or never went to schools.
          Currently we have 30 students in our center.
        </p>
        <button class="btn btn-info">Read More...</button>
      </div>
    </div>
    <div class="card card-img">
      <a href="">
        <img
          src="../../assets/images/aasraImg3.jpg"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <a href="" class="card-title">AASRA NON-FORMAL EDUCATION CENTRE</a>
        <p class="card-text">
          We started a non formal education center for children in hatwara basti
          for those children who are dropouts or never went to schools.
          Currently we have 30 students in our center.
        </p>
        <button class="btn btn-info">Read More...</button>
      </div>
    </div>
    <div class="card" style="border: none;">
      <twitter-timeline></twitter-timeline>
    </div>
  </div>

  <div class="section-title">
    <div class="text">GALLERY</div>
  </div>

  <div class="row" id="frontGallery">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a
        href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="fancybox"
        rel="ligthbox"
      >
        <img
          src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="zoom img-fluid"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
